$white: #fff;
$nav-color: #EAEEEF;
$bg-menu: #202020;
$search-bg: #f2f2f2;
$stroke-color: #d5d5d5;
$btn-color: #35b300;
$listItem-color: #1bc519;


body, html {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	max-width: 1310px;
	padding: 0 15px;
	width: 100%;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

// header

.header {
	position: relative;
	z-index: 0;
	background-image: url('../img/header.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding-top: 10px;
	height: 235px;

	&__bg {
		background: $bg-menu;
	}

	&__content {
		display: flex;
		margin: 0 auto;
		height: 55px;
		max-width: 1110px;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		color: $nav-color;
		font-family: 'Montserrat', sans-serif;
		font-size: 20px;
		font-weight: bold;	
	}

	&__burger {
		display: none;
		cursor: pointer;

		&-elem {
			transition: 0.5s;
			display: block;
			background: $white;
			height: 1.5px;
			margin-top: 6px;
			width: 30px;

			&:first-child {
				margin-top: 0;
			}
		}

		&-static {
			position: fixed !important;
			top: 22px;
			right: 14px;
		}
	}

	&__menu {
		margin: 0;
	}

	&__link {
		margin-right: 20px;
		font-size: 12px;
		color: $nav-color;
		text-transform: uppercase;

		&:last-child {
			margin-right: 0;
		}
	}

	&__lang {
		font-size: 12px;
		text-transform: uppercase;
		color: darken($nav-color, 60%);
	}

	&__item {
		color: $white;
		font-size: 17px;
		line-height: 41.67px;

		&-after {
			&::after {
				content: '/';
				margin: 0 4px;
			}
		}
	}

	&__title {
		color: $white;
		margin-left: 26%;
		font-weight: 400;
		font-size: 38px;
		margin-top: 15px;
	}
}

// search
.search {
	border: 1px solid #e3e3e3;
	background-color: $search-bg;
	margin-bottom: 50px;

	&__content {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 34px;
		padding-bottom: 25px;
	}

	&__input {
		max-width: 832px;
		width: 100%;
		padding: 8px 16px;
		font-size: 15px;
		font-family: 'Ubuntu', sans-serif;
		font-style: italic;
		outline: none;
		margin-right: 20px;
		border-radius: 4px;
		border: 1px solid $stroke-color;
	}

	&__btn {
		flex-basis: 177px;
		flex-shrink: 0;
		outline: none;
		background-color: $btn-color;
		border: none;
		padding: 9px 57px;
		border-radius: 4px;
		color: $white;
		font-size: 15px;
		font-family: 'Ubuntu', sans-serif;

		i {
			margin-right: 7px;
			font-size: 12px;
		}
	}
}

// questions

.questions {
	&__content {
		display: flex;
	}

	&__title {
		font-size: 29px;
		margin-top: 0;
		font-weight: 700;
		line-height: 33.33px;
	}

	&__aside {
		flex-basis: 335px;
		flex-shrink: 0;
	}

	&__list {
		margin-top: 20px;
		list-style: none;
		padding: 0;
		max-height: 1310px;
		overflow: auto;

		&::-webkit-scrollbar {
			width: 9px;
			background-color: #e6e6e6;
		}

		&::-webkit-scrollbar-thumb {
			width: 9px;
			background-color: #d1cece;
		}

		&-item {
			cursor: pointer;
			transition: 0.3s;
			position: relative;
			font-size: 17px;
			padding: 20px 20px;
			line-height: 20.83px;
			margin-right: 10px;
			border-bottom: 1px solid $stroke-color;

			&:hover {
				color: $listItem-color;
			}

			&:hover .questions__list-icon-green {
				opacity: 1;
			}
		}

		&-icon {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0px;

			&-green {
				transition: 0.3s;
				opacity: 0;
			}
		}
	}

	&__section {
		padding-left: 25px;
		margin-left: 9px;
		position: relative;

		&::before {
			content: '';
			display: block;
			position: absolute;
			width: 1px;
			top: 0;
			left: 0;
			background: $stroke-color;
			height: 100%;
		}

		a {
			color: $listItem-color;
			text-decoration: underline;
		}
	}

	&__head {
		font-size: 23px;
		font-weight: 700;
		margin-top: 0;
		line-height: 33.33px;
	}

	&__descr {
		padding-left: 23px;
		position: relative;
		font-size: 17px;
		line-height: 18.74px;

		&::before {
			content: '';
			display: block;
			position: absolute;
			width: 3px;
			top: 0;
			left: 0;
			background: $listItem-color;
			height: 100%;
		}
	}

	&__container {
		margin-top: 46px;
		padding-bottom: 32px; 
		border-bottom: 1px solid $stroke-color;
	}

	&__small {
		font-size: 17px;
		font-weight: bold;
		line-height: 18.74px;

		&-color {
			color: $listItem-color;
		}
	}

	&__ol {
		font-size: 17px;
		padding-left: 16px;
		line-height: 18.74px;

		&-item {
			margin-top: 25px;
		}
	}

	&__parag {
		font-size: 17px;
		line-height: 18.74px;
	}
}

.form {
	&__title {
		font-size: 29px;
		font-weight: 700;
		margin-top: 59px;
	}
	
	&__container {
		position: relative;
		display: flex;
		align-items: flex-start;
	}

	&__block {
		margin-right: 14px;
		flex-basis: 50%;
	}

	&__input {
		display: block;
		border-radius: 4px;
		margin-bottom: 17px;
		outline: none;
		font-family: 'Ubuntu', sans-serif;
		font-size: 15px;
		padding: 9px 4px;
		max-width: 409px;
		width: 100%;
		border: 1px solid $stroke-color;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__textarea {
		border-radius: 4px;
		padding: 12px 11px;
		flex-basis: 50%;
		outline: none;
		resize: none;
		font-size: 15px;
		max-width: 444px;
		width: 100%;
		height: 65px;
		font-family: 'Ubuntu', sans-serif;
		border: 1px solid $stroke-color;
	}

	&__aligner {
		display: flex;
		justify-content: flex-end;
	}

	&__btn {
		font-family: 'Ubuntu', sans-serif;
		padding: 7px 64px;
		font-size: 15px;
		border: none;
		color: $white;
		border-radius: 4px;
		margin-top: 16px;
		background-color: $btn-color;
	}
}